*{
    padding: 0;
    margin: 0;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    font-family: "Overpass", sans-serif;
    background-color: hsl(216, 12%, 8%);
}
.container{
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    height: 380px;
    border-radius: 15px;
    display: grid;
    grid-template-rows: 40% 20% 40%;
}
.container .row1 img{
    margin-top: 30px;
    margin-left: 110px;
}
.container .row2{
    color: hsl(25, 97%, 53%);
    width: 200px;
    margin-top: 10px;
    font-size: 15px;
    height: 33px;
    place-content: center;
    background-color: hsl(214, 15%, 22%);
    margin-left: 95px;
    border-radius: 50px;
}
.container .row2 p{
    margin-left: 24px;
}
.container .row3{
    text-align: center;
}
.container .row3 h1{
    color: white;
    font-size: 28px;
    margin-bottom: 10px;
}
.container .row3 p{
    font-size: 15px;
    padding: 0 30px;
    color: hsl(217, 12%, 63%);
}